@charset "utf-8";


/*
   CIS370-898 Introduction to Web Development
   Final Project: Rat Race
   Author: Reese Henry
   Date:   4/20/2018
  
   Filename: ratrace_layout.css

*/


/* HTML and body styles */
/************************/

html {
    max-width: 1024px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    background-image: url("alley.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Grid styles */
/***************/

/*Full-page container for a 5 row x 3 column grid layout*/
div.grid-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 8.33% 75% 16.67%;
    grid-template-rows: 12.5% 31.25% 25% 25% 6.25%;
}

header, footer {
    grid-column: span 3;
    grid-row: span 1;
}

/* Establishes an empty left margin between the header and footer */
div.left {
    grid-column: span 1;
    grid-row-start: 2;
    grid-row-end: span 3;
}

/* Container for the area where traffic light images, winner images, and instructional text is displayed */
div.messageArea {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end : span 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

/* Container for where message text is displayed on either side of the triffic light/winner image */
div#left_message, div#right_message {
    text-align: center;
}

/* This row is a container for the top racer's avatar */
div.topLane {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}

/* This row is a container for the bottom racer's avatar */
div.bottomLane {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
}

/* Establishes an empty right margin between the header and footer */
div.right {
    grid-column: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

/* This cell contains the image that serves as the top racer's finish line */
div.top_finish_line {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}

/* This cell contains the image that serves as the top racer's finish line */
div.bottom_finish_line {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
}

/* Text styles */
/***************/

/* For text that is displayed in the message area div */
h1 {
    font-size: 1.9em;
    color: gold;
    line-height: 1.3em;
    text-shadow: 2px 2px 8px black;
}

h2 {
    font-size: 1.7em;
    color: goldenrod;
    line-height: 1.3em;
    text-shadow: 2px 2px 8px black;
}

/* For footer text */
h6 {
    font-size: 0.7em;
}


/* Image styles */
/****************/

/* The logo image displayed at the top center of the page */
img#logo_img {
    display: block;
    width: 44%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
}

/* The images that are displayed within the message area */
img#traffic_light_red, img#traffic_light_green, img#tie, img#damon_flag, img#leblanc_flag {
    width: 100%;
    filter: drop-shadow(2px 2px 8px black);
}

/* The images that server as the racers' avatars */
img#rat_damon, img#rat_leblanc {
    display: block;
    width: 23%;
    position: relative;
    filter: drop-shadow(2px 2px 8px black);
}

/* This images displayed at the racers' finishe lines */
img#cheese_top, img#cheese_bottom {
    display: block;
    width: 65%;
    filter: drop-shadow(2px 2px 8px black);
}
